.menubar {
  background: linear-gradient(to bottom, #4e54c8, #8f94fb);
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15px;
}
.links {
  margin: 50px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
